//seting up fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-heading: 'Kaushan Script', cursive;

//setting up colors

$color-primary: #f38181;

$color-secondary: #fce38a;