.header {
    background-image: linear-gradient(
        to bottom,
        rgba($color-primary, .9),
        rgba($color-secondary, .9)),
        url(../img/hero.png);
    background-size: cover;
    background-position: center;
    height: 100rem;
    position: relative;
    color:#fff;
    @include centeredGrid;

    &__content{
        // @include absCenter;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading-3 {
        font-size: 7.2rem;
        font-weight: 400;
        text-align: center;
        color: currentColor;
        margin-bottom: 6rem;
    }

    h1 {
        position: relative;
    }

    h1::after {
        content: "";
        width: 6rem;
        border-bottom: 3px solid #fff;
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__btn {
        color: currentColor;
        position: relative;
        background-color: transparent;
        border: 3px solid #fff;
        border-radius: 0;
        padding: 0.65rem 2.75rem;
        font-size: 1.4rem;
        font-weight: 700;
        font-family: $font-secondary;
        text-transform: uppercase;
        margin-top: 12.6rem;
        transition: all .2s;

        &:hover {
            transform: translateY(-2px) scale(1.02);
            box-shadow: 0 1rem 2rem rgba(#000, .1);
        }

        &:active {
            transform: translateY(-1px);
        }
          
    }
}

.nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 5.2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: $font-secondary;
    color: #fff;

    &__logo {
        font-size: 3rem;
        font-weight: 700;
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: flex-end;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 5.8rem;
        }

        &:last-child {
            transform: translateY(7px);
        }
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: currentColor;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 400;
            padding: 1.2rem 0;
            border-bottom: 3px solid transparent;
            transition: all .2s;
        }

        &:hover,
        &:active {
            border-bottom: 3px solid $color-secondary;
            color: $color-secondary;
        }
    }

    &__icon {
        width: 1.8rem;
        height: 2rem;
        fill: #fff;
        cursor: pointer;
        transition: all .2s;

        &:hover{
            fill: $color-secondary;
        }

        &:not(:last-child) {
            margin-right: 4.2rem;
        }
    }
}

.slider-box {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: calc((100% - 120rem) / 2) 1fr;

    &__container {
        grid-column: 2 / 3;
        display: flex;
    }

    &__item {
        padding: 2.5rem 0;
        width: 100%;
        max-width: 28rem;
        border-top: 3px solid #fff;
        position: relative;
        font-size: 1.9rem;
        font-family: $font-secondary;
        font-weight: 400;
        text-transform: uppercase;

        span {
            font-size: 2.4rem;
            font-weight: 700;
        }

        &:not(:last-child) {
            margin-right: 3rem;
        }

        // &:nth-last-child(2) {
        //     margin-right: 2rem;
        // }

        // &:last-child {
        //     transform: translateX(1rem);
        // }

        &::before {
            content: "";
            width: 0;
            border-top: 3px solid $color-primary;
            z-index: 100;
            display: block;
            position: absolute;
            top: -3px;
            left: 0;
            transition: all 0s;

        }

        &:hover::before {
            animation: sliderAnimation 2s;
            width: 100%;
            transition: width 0s linear 2s;
        }
    }
}

