.feature {
    height: 85rem;
    background-image: linear-gradient(
        rgba(243, 242, 242, 0.9), 
        rgba(243, 240, 240, 0.9)), 
        url(../img/featurebackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .heading-3 {
        @include pos-h3;
    }

    .heading-2 {
        @include pos-h2;
        margin-bottom: 4.6rem;
    }

    &__image-box {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-right: -22.5rem;

        .img-2 {
            transform: translate(-16.5rem, 9rem);
        }
    }

}