.feature {
    height: 85rem;
    background-image: linear-gradient(
        rgba(243, 242, 242, 0.9), 
        rgba(243, 240, 240, 0.9)), 
        url(../img/featurebackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
        height: 100.2rem;
    }

    @media only screen and (max-width: $bp-medium) {
        height: 108.8rem;
    }

    @media only screen and (max-width: $bp-small) {
        height: max-content;
    }

    .heading-3 {
        @include pos-h3;
    }

    .heading-2 {
        @include pos-h2;
        margin-bottom: 4.6rem;
    }

    &__image-box {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-right: -22.5rem;
        @media only screen and (max-width: $bp-medium) {
            margin-right: 0;
        }

        .img-1 {
            max-width: 100%;
            height: auto;
        }
        .img-2 {
            transform: translate(-16.5rem, 9rem);
            
            @media only screen and (max-width: $bp-medium) {
                display: none;
            }
        }
    }

}