.quote-background {
    background-color: #f8f8f8;
}

.quote {
    max-width: 120rem;
    margin: 12rem auto;
    height: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: #999999;

        &__left {
            transform: rotate(90deg);
            margin-left: 1.8rem;
        }

        &__right {
            transform: rotate(270deg);
            margin-right: 1.8rem;
        }

        &__box {
            padding: 3.8rem;
            border: 3px solid #95e1d3;
            transform: translateX(-1.3rem);

            @media only screen and (max-width: $bp-small) {
                padding: 3.2rem;
            }

            @media only screen and (max-width: $bp-smallest) {
                border: none;
            }
        }

        &__chat {
            width: 6.7rem;
            height: 6.7rem;
            fill: #95e1d3;
        }
    }

    &__text-box {
        max-width: 63%;
        margin-left: -4rem;
    }

    &__text {
        font-size: 2.4rem;
        color: #999999;
        font-style: italic;
        line-height: 1.5;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }
    }

    &__name-box {
        position: relative;
        margin-top: 3rem;
        &::before {
            content: "";
            width: 6rem;
            position: absolute;
            border-bottom: 2px solid $color-primary;
            top: 50%;
            left: 0;
        }

        .heading-3 {
            position: absolute;
            top: 50%;
            left: 7rem;
            transform: translateY(-50%);
        }
    }
}

  