.services {
    padding: 11rem 0;
    @include centeredGrid;

    .heading-3,
    .heading-2,
    &__content {
        grid-column: 2 / 3;
    }

    .heading-3 { 
        text-align: center;
        margin-bottom: .7rem;
    }

    .heading-2 {
        text-align: center;
        position: relative;
        margin-bottom: 5rem;
        &::before {
            content: "";
            width: 6rem;
            border-bottom: 3px solid $color-primary;
            position: absolute;
            top: 200%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-around;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 100%;
            border-bottom: 1px solid #e5e5e5;
            @include absCenter;
        }

        &__item {
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-row-gap: 1.5rem;
            grid-column-gap: 2.5rem;
            padding: 0 2.9rem;
            margin: 5rem 0;

            &--icon {
                width: 3.4rem;
                height: 3.4rem;
                fill: #95e1d3;
                grid-row: 1 / span 2;
            }

            &--text {
                font-size: 1.5rem;
                color: #999999;
                line-height: 1.6;
            }
        }
    }
}

  