.service-2 {
    @include centeredGrid;
    justify-items: center;
    padding-top: 10.7rem;

    .heading-3,
    .heading-2,
    &__text,
    &__box {
        grid-column: 2 / 3;
    }

    .heading-3,
    .heading-2,
    &__text {
        text-align: center;
    }

    .heading-3 {
        @include pos-h3;
    }

    .heading-2 {
        @include pos-h2;
    }

    &__text {
        max-width: 80%;
        font-size: 1.5rem;
        color: #999999;
        line-height: 1.6;
        margin-bottom: 8.5rem;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media only screen and (max-width: $bp-medium) {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__img {
            height: 38rem;
            width: auto;

            @media only screen and (max-width: $bp-medium) {
                width: 80%;
                height: auto;
            }
        }
    }

    &__content {
        max-width: 50%;
        @media only screen and (max-width: $bp-medium) {
            max-width: 80%;
        }

        &__item {
            display: grid;
            grid-template-columns: min-content 1fr min-content;
            grid-column-gap: 1.5rem;
            align-items: center;
            padding: 1.7rem;

            border-bottom: 1px solid #e5e5e5;
            border-top: 1px solid #e5e5e5;
            
            &:not(:last-child) {
                margin-bottom: .7rem;
            }

            &__icon {
                width: 3rem;
                height: 3rem;
                fill: #95e1d3;
            }

            &__icon--1 {
                grid-column: 1 / 2;
            }

            &__text {
                grid-column: 1 / 3;
                border-bottom: 1px solid #e5e5e5;
                padding: 1rem;
                font-size: 1.5rem;
                color: #999999;
                font-style: italic;
                text-align: left;
                line-height: 1.6;
            }

            &__icon--2 {
                grid-column: 3 / 4;
                width: 2rem;
                height: 2rem;
                fill: #999999;
            }
            .arrow-up {
                transform: rotate(180deg);
            }
        }

        .text-box {
            margin-bottom: .7rem;
        }
    }
}