body {
    font-family: $font-primary;
    font-weight: 400;
}

.heading-1 {
    font-size: 15rem;
    font-family: $font-secondary;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.933;
    color: #fff;
    text-align: center;
    max-width: 8ch;

    @media only screen and (max-width: $bp-medium) {
        font-size: 12rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 10rem;
    }

    @media only screen and (max-width: 380px) {
        font-size: 8rem;
    }
}

.heading-2 {
    font-size: 3rem;
    font-family: $font-secondary;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    
}

.heading-3 {
    font-size: 2.4rem;
    font-family: $font-heading;
    color: #333333;
    line-height: 1.2;
    font-weight: 400;
}

.heading-4 {
    font-size: 1.4rem;
    font-family: $font-secondary;
    color: #333333;
    text-transform: uppercase;
}

